/H7_NetxDuo/MDK-ARM/H7_NetxDuo/*.o
/H7_NetxDuo/MDK-ARM/H7_NetxDuo/*.d
/H7_NetxDuo/MDK-ARM/H7_NetxDuo/*.iex
/H7_NetxDuo/MDK-ARM/H7_NetxDuo/*.axf
/H7_NetxDuo/MDK-ARM/H7_NetxDuo/*.htm
/H7_NetxDuo/MDK-ARM/H7_NetxDuo/*.hex
/H7_NetxDuo/MDK-ARM/H7_NetxDuo/*.lnp
/H7_NetxDuo/MDK-ARM/H7_NetxDuo/*.map
/H7_NetxDuo/MDK-ARM/H7_NetxDuo/*.sct
/H7_NetxDuo/MDK-ARM/H7_NetxDuo/*.dep
/H7_NetxDuo/MDK-ARM/*.xdx
